

@font-face {
    font-family: 'Baloo';
    src: url("/assets/fonts/Baloo-Regular.ttf");
}

.display {
    height: 100vh;
    //width: 100vw;

    display: flex;
    // justify-content: center;

    padding-right: 5vw;
    padding-left: 5vw;

    flex-direction: column;
    align-items: center;
    max-height: 100%;

    .top-text {
        font-family: 'Baloo', Arial, serif;
        font-size: 2em;
    }

    .middle-text {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        align-items: center;
        width: 100%;
        height: 100%;
        align-self: stretch;

        > div {
            width: 100%;
            height: 100%;
        }
    }

    .icon {
        //height: 80vh;
        //width: 80vh;
        //height: auto;
        //width: auto;
        background-repeat: no-repeat;
        // background-size: cover;
        background-size: 190% auto;
        background-position: center;

        align-self: stretch;
        // transform: scale(1.5);
    }

    .big-label {
        font-size: 9em;
        font-family: 'Baloo', Arial, serif;
    }

}

.night {
    background: #2f243a;

    .top-text {
        color: #F4EC90;
    }

    .big-label {
        color: #FFFFFF;
    }

    .moon {
        background-image: url("/assets/icons/1530382 - weather.svg");
    }
}

.day {
    background: #8AB0AB;

    .top-text {
        color: #F4EC90;
    }

    .big-label {
        color: #231815;
    }

    .sun {
        background-size: 150% auto;
        background-image: url("/assets/icons/1530392 - weather.svg");
    }
}

.gray {
    background: #ECE5F0;

    .top-text {
        color: #59114D;
    }

    .big-label {
        color: #231815;
    }

    .temp {
        background-size: 150% auto;
        background-image: url("/assets/icons/1530373 - weather.svg");
    }
}
