@font-face {
  font-family: 'Baloo';
  src: url("../fonts/Baloo-Regular.ttf"); }

body {
  padding: 0;
  margin: 0; }

.display {
  height: 100vh;
  display: flex;
  padding-right: 5vw;
  padding-left: 5vw;
  flex-direction: column;
  align-items: center;
  max-height: 100%; }
  .display .top-text {
    font-family: 'Baloo', Arial, serif;
    font-size: 2em; }
  .display .middle-text {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: center;
    width: 100%;
    height: 100%;
    align-self: stretch; }
    .display .middle-text > div {
      width: 100%;
      height: 100%; }
  .display .icon {
    background-repeat: no-repeat;
    background-size: 190% auto;
    background-position: center;
    align-self: stretch; }
  .display .big-label {
    font-size: 9em;
    font-family: 'Baloo', Arial, serif; }

.night {
  background: #2f243a; }
  .night .top-text {
    color: #F4EC90; }
  .night .big-label {
    color: #FFFFFF; }
  .night .moon {
    background-image: url("../icons/1530382 - weather.svg"); }

.day {
  background: #8AB0AB; }
  .day .top-text {
    color: #F4EC90; }
  .day .big-label {
    color: #231815; }
  .day .sun {
    background-size: 150% auto;
    background-image: url("../icons/1530392 - weather.svg"); }
