<!--The content below is only a placeholder and can be replaced.-->

<!--
<div class="night display">
    <div class="top-text">
        Mié. Nov 14, 15:14
    </div>
    <div class="middle-text">
        <div class="icon moon"></div>
        <div class="big-label">12ºc</div>
    </div>
    <div class="top-text">
        El tiempo ahora
    </div>
</div>
-->
<!--
<div class="day display">
    <div class="top-text">
        Mié. Nov 14, 15:14
    </div>
    <div class="middle-text">
        <div class="icon sun"></div>
        <div class="big-label">12ºc</div>
    </div>
    <div class="top-text">
        El tiempo ahora
    </div>
</div>
-->
<!--
<div class="gray display" (swipeleft)="swipe(idx, $event.type)">
    <div class="top-text">
        Mié. Nov 14, 15:14
    </div>
    <div class="middle-text">
        <div class="icon temp"></div>
        <div class="big-label">
            15ºc


            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox='0 0 30 18'>
            <text y="14" >
                15ºc
            </text>
            </svg>
        </div>
    </div>
    <div class="top-text">
        El tiempo ahora
    </div>
</div>
-->

<div (swipeleft)="swipe(idx, $event.type)">
  <router-outlet></router-outlet>
</div>
