<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />

</head>
<body>
    <div class="night">
        <div class="top-text">
            Mié. Nov 14, 15:14
        </div>
        <div class="middle-text">
            <div id="icon"></div>
            <div class="big-label">12ºc</div>
        </div>
        <div class="top-text">
            El tiempo ahora
        </div>
    </div>
</body>
</html>
