<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <script>
        document.addEventListener("click", function () {
            document.body.requestPointerLock();
        });
    </script>
</head>
<body>
    <!--
    <div class="night display">
        <div class="top-text">
            Mié. Nov 14, 15:14
        </div>
        <div class="middle-text">
            <div class="icon moon"></div>
            <div class="big-label">12ºc</div>
        </div>
        <div class="top-text">
            El tiempo ahora
        </div>
    </div>
    -->
    <div class="day display">
        <div class="top-text">
            Mié. Nov 14, 15:14
        </div>
        <div class="middle-text">
            <div class="icon sun"></div>
            <div class="big-label">12ºc</div>
        </div>
        <div class="top-text">
            El tiempo ahora
        </div>
    </div>
</body>
</html>
